.ad {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  transition: 0.3s;
}

.ad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  flex-direction: row;
}

.noListings {
  text-align: center;
}

button {
  margin: 10px 0;
}
